* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-100: #50ccee;
  --clr-primary-200: #37c5ec;
  --clr-primary-300: #1ebde9;
  --clr-primary-400: #05b6e7;
  --clr-primary-500: #05a4d0;
  --clr-primary-600: #0492b9;
  --clr-primary-700: #0472b9;
  --clr-primary-800: #036db8;
  --clr-primary-900: #035b74;

  --clr-neutral-100: #f8f8f2;
  --clr-neutral-300: #b6b9c9;
  --clr-neutral-500: #626784;
  --clr-neutral-600: #414558;
  --clr-neutral-650: #282a36;
  --clr-neutral-700: #21222c;
  --clr-neutral-800: #1d1e26;
  --clr-neutral-900: #15171b;

  --gradient: linear-gradient(135deg,#183d4f, #15171b);
}

body {
  min-height: 100vh;
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 90rem;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .container {
    padding: 0 2rem;
  }
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid var(--clr-neutral-650);
  background-color: rgb(21 23 27 / 0.8);
  backdrop-filter: blur(12px);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img.lg {
  display: none;
  height: 64px;
}

.logo img.sm {
  display: block;
  height: 40px;
}

@media (min-width: 40em) {
  .logo img.lg {
    display: block;
  }

  .logo img.sm {
    display: none;
  }
}

header .links {
  display: flex;
}

header .links a,
header .links label {
  padding: 0.75rem;
  color: var(--clr-neutral-300);
  text-decoration: none;
  transition: color 200ms;
  cursor: pointer;
}

header .links a:where(:hover, :focus-visible),
header .links label:where(:hover, :focus-within) {
  color: var(--clr-neutral-100);
  text-decoration: underline;
}

header .links i {
  font-size: 1.5rem;
}

@media (min-width: 40em) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu input {
  display: none;
}

.mobile-menu input[data-open] ~ i.fa-bars {
  display: none;
}

.mobile-menu input:not([data-open]) ~ i.fa-close {
  display: none;
}

@media (min-width: 40em) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}

.sidebar {
  display: none;
  position: fixed;
  inset: 0;
  top: 48px;
  padding: 1rem;
  background-color: var(--clr-neutral-900);
  overflow: auto;
}

.sidebar[data-open] {
  display: block;
  animation: fadeIn 100ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 40em) {
  .sidebar {
    display: block;
    position: sticky;
    inset: unset;
    top: 4rem;
    height: calc(100vh - 4rem);
    padding: 0;
    padding-top: 2rem;
    animation: none;
  }
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 0.75rem;
}

.sidebar summary {
  display: flex;
  justify-content: space-between;
  padding: 0.75em;
  border-radius: 8px;
  background-color: var(--clr-neutral-900);
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms;
}

.sidebar summary:where(:hover, :focus-visible) {
  background-color: var(--clr-neutral-700);
}

.sidebar summary span {
  font-weight: 600;
  line-height: 1.125;
}

.sidebar summary i {
  transition: transform 100ms;
  will-change: transform;
}

.sidebar summary + div {
  display: grid;
  gap: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  border-left: 2px solid var(--clr-neutral-650);
}

.sidebar a {
  padding: 0.25em 0.5em;
  border-radius: 8px;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-300);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms, color 200ms;
}

.sidebar a:where(:hover, :focus-visible) {
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
}

.sidebar a.active {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
}

.sidebar details[open] summary i {
  transform: rotate(90deg);
}

h1 {
  margin: 0;
  margin-top: 0.5rem;
  color: var(--clr-neutral-100);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin: 0;
  margin-top: 2.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--clr-neutral-650);
  color: var(--clr-neutral-100);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  margin: 0;
  margin-top: 2.5rem;
  padding-bottom: 0.25rem;
  color: var(--clr-neutral-100);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

@media (min-width: 40em) {
  main {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 250px;
    padding-bottom: 2rem;
  }
}

.content {
  padding-top: 2rem;
  color: var(--clr-neutral-300);
}

@media (min-width: 40em) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.content p {
  margin: 0;
  margin-top: 1.5rem;
  line-height: 1.75rem;
}

.content a {
  color: var(--clr-primary-500);
  transition: color 200ms;
}

.content a:where(:hover, :focus-visible) {
  color: var(--clr-primary-200);
}

.content ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.content li > ul,
.content li > ol {
  margin-top: 0.25rem;
}

.content ul {
  list-style-type: square;
}

.content li + li {
  margin-top: 0.25rem;
}

.content table {
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.content table th,
.content table td {
  padding: 0.5rem 1rem;
  border: 2px solid var(--clr-neutral-650);
}

.content blockquote {
  position: relative;
  padding: 1rem;
  padding-left: calc(48px + 1rem);
  margin-top: 1.5rem;
  border-radius: 0.3em;
  background-image: linear-gradient(90deg, var(--clr-primary-400) 48px,var(--clr-neutral-650) 49px);
}

.content blockquote::before {
  content: "\f129";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-content: center;
  width: 28px;
  height: 28px;
  margin: auto 8px;
  border: 2px solid currentColor;
  border-radius: 100vw;
  color: var(--clr-neutral-900);
  font-family: "Font Awesome 7 Pro";
}

.content blockquote > :first-child {
  margin-top: 0;
}

.toc {
  position: sticky;
  top: 6rem;
  display: none;
  gap: 0.75rem;
  align-content: start;
  height: fit-content;
  margin-top: 6rem;
}

@media (min-width: 40em) {
  .toc {
    display: grid;
  }
}

.toc h2 {
  margin: 0;
  border: none;
  font-size: 1rem;
}

.toc a {
  width: fit-content;
  color: var(--clr-neutral-300);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  text-decoration: none;
  transition: color 200ms;
}

.toc a:where(:hover, :focus-visible) {
  color: var(--clr-neutral-100);
  text-decoration: underline;
}

.button {
  flex: 1 1 0;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #15171b;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease;
  will-change: transform;
}

.button:where(:hover, :focus-visible) {
  box-shadow: 0 8px 25px rgba(0, 126, 234, 102);
  transform: translateY(-2px);
}

code:not([class]) {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--clr-neutral-650);
  color: var(--clr-neutral-300);
  font-weight: 600;
  white-space: pre-wrap;
}

blockquote code:not([class]) {
  background-color: var(--clr-neutral-800);
}

pre {
  font-size: 0.875rem !important;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  border-top: 2px solid var(--clr-neutral-650);
  color: var(--clr-neutral-500);
  text-align: center;
}
