<header>
  <div class="container">
    <nav aria-label="primary navigation">
      <a href="https://newtron.app" class="logo">
        <img class="lg" src="https://raw.githubusercontent.com/newtron-framework/assets/master/newtron-logo.png" alt="newtron" />
        <img class="sm" src="https://raw.githubusercontent.com/newtron-framework/assets/master/newtron-mark.png" alt="newtron" />
      </a>

      <div class="links">
        <a href="https://docs.newtron.app">Docs</a>
        <a href="https://newtron.app/roadmap">Roadmap</a>
        <a href="https://github.com/newtron-framework/newtron" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <label class="mobile-menu" for="mobile-menu">
          <input type="checkbox" id="mobile-menu" onchange="this.toggleAttribute('data-open');document.querySelector('.sidebar').toggleAttribute('data-open')" />
          <i class="fa fa-bars"></i>
          <i class="fa fa-close"></i>
        </label>
      </div>
    </nav>
  </div>
</header>

<div class="content-wrapper container">
  <aside>
    {% include sidebar %}
  </aside>

  <main>
    <div class="content">
      {{ content | raw }}
    </div>
    <div class="toc">
      <h2>On this page</h2>
      {% foreach $toc as $link %}
      <a href="#{{ link.id }}">
        {{ link.text }}
      </a>
      {% endforeach %}
    </div>
  </main>
</div>

<footer>
  <p>&copy; Newtron • Built with Newtron</p>
</footer>
