<nav class="sidebar" aria-label="sidebar navigation">
  <ul>
    <li>
      <span>Get Started</span>
      <ul>
        <li>
          <a href="/installation">Installation</a>
        </li>
        <li>
          <a href="/first-app">Your First Application</a>
        </li>
        <li>
          <a href="/configuration">Configuration</a>
        </li>
      </ul>
    </li>

    <li>
      <span>Routing</span>
      <ul>
        <li>
          <a href="/routing/introduction">Introduction</a>
        </li>
        <li>
          <a href="/routing/file-based">File-based Routing</a>
        </li>
        <li>
          <a href="/routing/declarative">Declarative Routing</a>
        </li>
      </ul>
    </li>

    <li>
      <span>Quark Templates</span>
      <ul>
        <li>
          <a href="/quark/template-basics">Template Basics</a>
        </li>
        <li>
          <a href="/quark/layouts-inheritance">Layouts and Inheritance</a>
        </li>
        <li>
          <a href="/quark/filters">Filters</a>
        </li>
        <li>
          <a href="/quark/directives">Directives</a>
        </li>
      </ul>
    </li>

    <li>
      <span>Document and Assets</span>
      <ul>
        <li>
          <a href="/document/document-management">Document Management</a>
        </li>
        <li>
          <a href="/document/asset-management">Asset Management</a>
        </li>
      </ul>
    </li>

    <li>
      <span>HTTP</span>
      <ul>
        <li>
          <a href="/http/request-handling">Request Handling</a>
        </li>
        <li>
          <a href="/http/generating-responses">Generating Responses</a>
        </li>
        <li>
          <a href="/http/middleware">Middleware</a>
        </li>
      </ul>
    </li>


    <li>
      <span>Architecture</span>
      <ul>
        <li>
          <a href="/architecture/lifecycle">Application Lifecycle</a>
        </li>
        <li>
          <a href="/architecture/service-providers">Service Providers</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
